.cont {
    font-weight: bold;
    gap: 1px;
}


.header {
    border: 2px solid green;
    border-radius: 5px;
    background-color: #bfe58a;
    user-select: none;
}


.subheader {
    font-size: 28px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border: 2px solid black;
    border-radius: 5px;
    color: green;
    font-weight: bolder;
    user-select: none;
    margin-top: 5px;
    padding: 10px 0px;
}

.subheader2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    user-select: none;
}

.subheader3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.maincontent {
    align-items: center;
}

.subheader:hover {
    background-color: grey;
    animation: ff 0.5s;
}


@keyframes ff {
    25% {
        transform: translateX(4px)
    }

    50% {
        transform: translateX(-4px)
    }
}

.btn {
    box-shadow: none;
}

.btn:hover {
    filter: brightness(85%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: #0a58ca;
}

/*Center the Input Type inside the Span*/
span button {
    color: #fff;
    margin: 2px;
}

.main2 {
    padding: 5px;
}

.cr {
    border: 2px solid black;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: lightsteelblue;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.maincontent4 {
    padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputstyle {
    margin: 1px;
    width: 120px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    background-color: black;
}

.badge {
    background-color: #0511222b;
    color: inherit; /* To maintain the text color */
}