<app-loader *ngIf="getLoader()"></app-loader>
<div style="max-width: 100%;padding: 5px;">
  <div class="cont container-fluid" style="margin-bottom: 30px;">
    <div class="header row" [style.background-color]="isOnline?'#bfe58a':'#e58a8a' ">
      <span class="col-sm-2" style="align-items: center;flex-wrap: wrap;">
        <img src="./assets/logo.png" style="height: 60px;width:170px; padding: 5px;" alt="">
      </span>
      <span class="col-sm-6" style="font-size: 1.5rem; text-align: center; align-self: center;flex-wrap: wrap;">
        <i [hidden]="prev==null?true:false" (click)="goToPrev()" style="cursor: pointer" class="bi bi-caret-left"></i>
        {{ date.toLocaleDateString("ta-IN",{ year:"numeric", month:"long", day:"numeric", weekday:"long"}) }}
        <i [hidden]="tomorrow==null?true:false" (click)="goToNext()" style="cursor: pointer"
          class="bi bi-caret-right"></i>
      </span>
      <span class="col-sm-4"
        style="display: flex; flex-direction: row-reverse; align-items: center; align-content: center; flex-wrap: wrap;">
        
        <span style="float: right;">
          <button (click)="deleteFile()" class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </span>
        <span style="float: right;">
          <button (click)="downloadJson()" class="btn btn-success"><i class="bi bi-download"></i></button>
        </span>

        <span hidden>
          <input type="file" id="upload" (change)="fileChanged($event)" hidden />
          <!-- <input type="file" id="upload" accept="application/JSON" hidden /> -->
          <label class="btn btn-secondary" for="upload"><i class="bi bi-upload"></i></label>
        </span>

        <span>
          <button [disabled]="date.toDateString()!=defaultData.date.toDateString()"
          (click)="clearForToday()" class="btn btn-primary"><i class="bi bi-eraser-fill"></i> Clear</button>
        </span>


        <span>
          <button (click)="updateHeaders();openModal()" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#myModal"><i class="bi bi-calendar-date"></i>
            Date</button>
        </span>

        <span>
          <button [disabled]="date.toDateString()!=defaultData.date.toDateString()"
          (click)="saveData();" class="btn btn-primary"><i class="bi bi-save"></i>
            Save</button>
        </span>

      </span>
    </div>

    <!--Headers End-->

    <div class="row">
      <div class="col-md subheader" style="background-color: rgb(249, 235, 233); margin-right: 10px;">
        <div style="color: black; font-size: 18px;">Grant Total</div>
        <div [style.color]="currentGT>=0?'green':'red'">
          {{currentGT | indianCurrency}}
        </div>
      </div>

      <div class="col-md-5 subheader subheader2" style="background-color: #EDC2D8FF; margin-right: 10px;">
        <div>
          <div style="color: black; font-size: 18px;">In Hand</div>
          <div style="font-size: 25px; padding: 10px;"> {{currentDenom|indianCurrency}}</div>
        </div>
        <div>
          <div style="color: black; font-size: 18px;">Bank</div>
          <div style="font-size: 25px; padding: 10px;"> {{currentAccountSum-currentDenom |indianCurrency}}</div>
        </div>
        <div>
          <div style="color: black; font-size: 18px;">EC</div>
          <div style="font-size: 25px; padding: 10px;"> {{currentServicesSum|indianCurrency}}</div>
        </div>
        <div>
          <div style="color: black; font-size: 18px;">Cust. Bal</div>
          <div style="font-size: 25px; padding: 10px;"> {{currentCrBal|indianCurrency}}</div>
        </div>
      </div>

      <div class="col-md subheader subheader3" style="background-color: rgb(224, 240, 254); margin-right: 10px;">
        <div>
          <div style="color: black; font-size: 18px;">கடன்</div>
          <div style="font-size: 25px; color: red;padding: 10px;"> {{currentDebBal|indianCurrency}}</div>
        </div>

        <div>
          <div style="color: black; font-size: 18px;">செலவு</div>
          <div style="font-size: 25px; color:red;padding: 10px;"> {{currentExpenses|indianCurrency}}</div>
        </div>

      </div>

      <div class="col-md subheader subheader3" style="background-color: rgb(224, 240, 254);">
        <div [style.color]="currentDiff>=0?'green':'red'">
          <div style="color: black; font-size: 18px">Today Profit</div>
          <span style="padding: 10px;">{{currentDiff | indianCurrency}}</span>
        </div>
        <div [style.color]="currentDiff>=0?'green':'red'">
          <div style="color: black; font-size: 18px">Xerox</div>
          <span style="padding: 10px;">{{todayXeroxCounter-yestXeroxCounter}}</span>
        </div>
      </div>

    </div>

    <!--SubHeaders End-->

    <div class="row" style="margin-top: 8px;">
      <div class="col-lg" style="min-width: 315px;">
        <span *ngFor="let a of accounts">
          <span style="display: flex; justify-content: space-between;align-self: center;">
            <label style="min-width: 165px;" for="id_{{a.id}}">{{a.name}}</label>
            <div style="display: flex;align-items: center;">
              <i [hidden]="a.id=='accounts-1' || (date.toDateString()!=defaultData.date.toDateString())" style="cursor: pointer;margin-right: 5px" class="bi bi-trash3"
                (click)="deleteRow(a.name,'acc');updateHeaders()"></i>
              <input #ip [disabled]="ip.id=='id_accounts-1' || (date.toDateString()!=defaultData.date.toDateString())" (focusout)="onChange($event,'accounts')"
                class="inputstyle form-control" type="number" id="id_{{a.id}}" value="{{a.amount}}">
            </div>
          </span>
        </span>
        <button [disabled]="date.toDateString()!=defaultData.date.toDateString()" (click)="addUser('acc')" class="btn btn-outline-primary" style="margin-bottom: 10px;margin-top: 10px;width: 100%;">Add
          Account</button>
      </div>

      <div class="col-lg" style="min-width: 315px;">
        <span *ngFor="let a of services">
          <span style="display: flex; justify-content: space-between;">
            <label style="min-width: 165px; white-space: nowrap;  overflow: hidden;align-self: center;"
              for="id_{{a.id}}">{{a.name}}</label>
            <div style="display: flex;align-items: center;">
              <i style="cursor: pointer;margin-right: 5px" class="bi bi-trash3" [hidden]="date.toDateString()!=defaultData.date.toDateString()"
                (click)="deleteRow(a.name,'ser');updateHeaders()"></i>
              <input (focusout)="onChange($event,'services')" [disabled]="date.toDateString()!=defaultData.date.toDateString()" class="inputstyle form-control" value="{{a.amount}}"
                type="number" id="id_{{a.id}}">
            </div>
          </span>
        </span>
        <button [disabled]="date.toDateString()!=defaultData.date.toDateString()" (click)="addUser('ser')" class="btn btn-outline-primary" style="margin-bottom: 10px;margin-top: 10px;width: 100%;">Add
          Services</button>
          <div class="cr" style="justify-content: center;">Xerox Counters</div>
        <span *ngFor="let a of xerox">
          <span style="display: flex; justify-content: space-between;">
            <label style="min-width: 165px; white-space: nowrap;  overflow: hidden;align-self: center;"
            for="id_{{a.id}}">{{a.name}}</label>
            <div style="display: flex;align-items: center;">
              <input (focusout)="onChange($event,'xerox')" [disabled]="date.toDateString()!=defaultData.date.toDateString()" class="inputstyle form-control" value="{{a.count}}"
              type="number" id="id_{{a.id}}">
            </div>
          </span>
        </span>
          
      </div>

      <div class="col-lg-4 main2">
        <div class="cr" style="background-color: rgb(191, 229, 138);">
          Credit
          <span>
            <button [disabled]="date.toDateString()!=defaultData.date.toDateString()" (click)="addUser('cr')" class="btn btn-primary" style="margin: 0px; padding: 6px;"><i
                class="bi bi-person-plus"></i>Add</button>
          </span>
        </div>

        <div style="margin-bottom:5px ;">
          <div *ngFor="let a of crPeoples;index as i">
            <span style="display: flex; justify-content: space-between;" data-toggle="tooltip" data-placement="top" title={{a.notes}}>
              <label style="min-width: 250px; white-space: nowrap; overflow: hidden;"
                for="id_{{a.custName}}_{{a.type}}">{{i+1}}. {{a.custName}} <span *ngIf="!(a.added==null || date.toDateString()!=defaultData.date.toDateString() || getDateDiff(a.added)==0)" class="badge rounded-pill">{{getDateDiff(a.added)}}</span></label>
              <div style="display: flex;align-items: center;">
                <i [hidden]="date.toDateString()!=defaultData.date.toDateString()" style="cursor: pointer;margin-right: 5px" class="bi bi-trash3"
                  (click)="deleteRow(a.custName,'cr');updateHeaders()"></i>
                <input [disabled]="date.toDateString()!=defaultData.date.toDateString()" (focusout)="onChange($event,'cust-c')" value="{{a.amount}}" class="inputstyle form-control"
                  type="number" id="id_{{a.custName}}_{{a.type}}" value="{{a.amount}}">
              </div>
            </span>
          </div>
        </div>

        <div class="cr" style="background-color: rgba(255, 0, 0, 0.214);">
          <span>Debit</span>
          <span>
            <button [disabled]="date.toDateString()!=defaultData.date.toDateString()" (click)="addUser('dr')" class="btn btn-primary" style="margin: 0px; padding: 6px;"><i class="bi bi-person-plus"></i>
              Add</button>
          </span>
        </div>
        <div style="margin-bottom:5px">
          <div *ngFor="let a of drPeoples;index as i">
            <span style="display: flex; justify-content: space-between;" data-toggle="tooltip" data-placement="top" title={{a.notes}}>
              <label style="min-width: 250px; white-space: nowrap; overflow: hidden;"
                for="id_{{a.custName}}_{{a.type}}">{{i+1}}.
                {{a.custName}} <span *ngIf="!(a.added==null || date.toDateString()!=defaultData.date.toDateString())" class="badge rounded-pill">{{getDateDiff(a.added)}}</span></label>
              <div style="display: flex;align-items: center;">
                <i [hidden]="date.toDateString()!=defaultData.date.toDateString()" style="cursor: pointer;margin-right: 5px" class="bi bi-trash3"
                  (click)="deleteRow(a.custName,'dr');updateHeaders()"></i>
                <input [disabled]="date.toDateString()!=defaultData.date.toDateString()" (focusout)="onChange($event,'cust-d')" value="{{a.amount}}" class="inputstyle form-control"
                  type="number" id="id_{{a.custName}}_{{a.type}}" value="{{a.amount}}">
              </div>
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg maincontent4">

        <div style="margin-bottom: 5px;">
          <div *ngFor="let a of cashBal">
            <span style="display: flex; flex-direction: row-reverse;">
              <input [disabled]="date.toDateString()!=defaultData.date.toDateString()" (focusout)="onChange($event,'denom')" value="{{a.value}}" class="inputstyle form-control"
                type="number" id="id_{{a.id}}">
              <label style="margin-right: 20px;align-self: center;" for="id_{{a.id}}">{{a.denom}} X</label>
            </span>
          </div>
        </div>

        <div class="cr">
          <span>Expenses</span>
          <span>
            <button [disabled]="date.toDateString()!=defaultData.date.toDateString()" class="btn btn-primary" (click)="addUser('ex')" style="margin: 0px; padding: 6px;"><i
                class="bi bi-plus"></i> Add</button>
          </span>
        </div>

        <div>
          <div *ngFor="let a of expenses;index as i">
            <span style="display: flex; justify-content: space-between;" data-toggle="tooltip" data-placement="top" title={{a.notes}}>
              <label style="min-width: 150px; white-space: nowrap; overflow: hidden;" for="id_{{a.name}}_ex">{{i+1}}. {{a.name}}</label>
              <div style="display: flex;align-items: center;">
                <i [hidden]="date.toDateString()!=defaultData.date.toDateString()" style="cursor: pointer;margin-right: 5px" class="bi bi-trash3" (click)="deleteRow(a.name,'ex');updateHeaders()"></i>
              <input [disabled]="date.toDateString()!=defaultData.date.toDateString()" (focusout)="onChange($event,'expense')" value="{{a.amount}}" class="inputstyle form-control"
                style="width: 120px;" type="number" id="id_{{a.name}}_ex">
              </div>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<footer>
  <div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
    <span style="margin-left: 5px; cursor: pointer;font-size: small;" (click)="editHost()">
      <i class="bi bi-pencil"></i>{{host}}
    </span>
    <span style="margin-right: 5px; cursor: pointer;font-size: small;" (click)="updateGT()">Yest. GT : {{yestGT}} | Profit : {{yestDiff}}</span>
    <span hidden style="position: fixed; right: 10px; cursor: pointer;" (click)="clearCache($event)">RESET</span>
  
  </div>
</footer>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" aria-hidden="true" (keydown.enter)="btn1.click()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter the Date</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name">Choose a date</label>
            <input #dateInput type="text" autocomplete="off" class="form-control" id="recipient-name" placeholder="DD-MM-YYYY">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalOK('today')">Today</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button #btn1 type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="modalOK(dateInput.value)">Go</button>
      </div>
    </div>
  </div>
</div>
