/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Quicksand';
    background-color: lightgoldenrodyellow;
}