/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,body {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand';
    background-color: lightgoldenrodyellow;
    overflow-wrap: break-word
}