/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,body {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand';
    background-color: lightgoldenrodyellow;
    overflow-wrap: break-word
}

.br-alert-slide {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.br-alert-slide.show {
    opacity: 1;
    transform: translateY(0);
}

.br-alert-slide.hide {
    opacity: 0;
    transform: translateY(-20px);
}
